.home {
    background: #eee;
}

/* .banner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
} */

.home__container {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.title {
    margin: 20px;
}

.products__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 1.33%l
}

.banner {
    height: 700px;
}

.button {
    position: absolute;
    bottom: 20%;
    right: 10%;
    padding: 15px;
    width: 200px;
    background: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background: white;
    color: black;
}

@media screen and (max-width:769px) {
    .banner {
        height: 300px;
    }

    .button {
        bottom: 8%;
        right: 25%;
    }
}