.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #424242; */
    background: #f5f5f5;
    /* color: white; */
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.nav__container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background: black;
    border-radius: 50%;
    padding: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 6px 20px;
    position: relative;
    cursor: pointer;
    color: gray;
}

.navbar li:hover {
    color: black;
    border-bottom: solid 3px;
}

.icons {
    display: flex;
    column-gap: 5px;
}

.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.mobile {
    display: none;
}

@media screen and (max-width:769px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 71px;
        right: -300px;
        width: 300px;
        height: 100vh;
        /* background: #757575; */
        background: #f5f5f5;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    .navbar.active {
        right: 0px;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .mobile {
        display: block;
    }
}