.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #424242;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav img {
    max-width: 120px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li:hover {
    border-bottom: solid 1px;
}

.icons {
    display: flex;
}

.cart__icon {
    position: relative;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.icon {
    cursor: pointer;
    font-size: 32px;
}

.count {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    height: 100%;
}

.favIcon {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width:769px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 74px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #757575;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    .navbar.active {
        right: 0px;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .favIcon {
        display: none;
    }

    .mobile {
        display: block;
    }
}