.subtotal {
    background: white;
    margin-top: 20px;
    padding: 20px;
}

.subtotal__price {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.subtotal__amount {
    font-weight: 500;
}

.checkout__btn {
    width: 100%;
    background: #444444;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
}

.checkout__btn:hover {
    background: #1a1a1a;
}